---
- name: Install utilities packages
  become: true
  ansible.builtin.apt:
    state: latest
    name:
      - graphviz # for dot
      - jq
      - curl
      - entr
      - fzf
      - libxml2-utils
      - git
      - ldap-utils
      - redis-tools
      - sshfs

- name: Install unconfined utilities snaps (edge channel)
  become: true
  community.general.snap:
    channel: edge
    # Might need to run this command `sudo snap connect mysql-workbench-community:password-manager-service`
    name: mysql-workbench-community
    classic: true

# - name: Setup tuple app
#   import_tasks: tuple.yml

- name: Configure npm repository
  ansible.builtin.lineinfile:
    name: ~/.npmrc
    line: "npm config set @dashlane:registry https://npm.dashlane.com/repository/npm/=true"

- name: Configure npm repo
  ansible.builtin.lineinfile:
    name: ~/.npmrc
    line: "npm config set always-auth true=true"

- name: "[IMPORTANT] Command to run"
  ansible.builtin.debug:
    msg: "npm adduser --registry=https://npm.dashlane.com/repository/npm/ --scope=@dashlane --always-auth"

- name: Remove Zoom routes from vpn
  ansible.builtin.blockinfile:
    path: /etc/NetworkManager/dispatcher.d/10-update-vpn-route
    create: true
    marker: "# {mark} ANSIBLE MANAGED BLOCK FROM STATOX SETUP - Zoom"
    block: |
      # Block added to remove Zoom routes from VPN for better performances
      if [ "$2" != "vpn-up" ]; then
              exit 0;
      fi

      nmcli -t  -f ip4.route c show "${CONNECTION_UUID}" | \
         grep "${IP4_GATEWAY}" | \
         awk -F'[,=\t ]+' '{print $2}' | \
         while read ip; do sudo ip route add ${ip} via "${IP4_GATEWAY}"; done
  become: true
