---
# Recreating instructions at https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management

- name: Install dependencies
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg

- name: Check if the key exists
  ansible.builtin.stat:
    path: /usr/share/keyrings/kubernetes-apt-keyring.gpg
  register: key_file

- name: Add Kubernetes' official GPG key
  become: true
  ansible.builtin.shell: >
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key | gpg --dearmor -o /usr/share/keyrings/kubernetes-apt-keyring.gpg
  when: key_file.stat.exists == false

- name: Check if the repo source exists
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/kubernetes.list
  register: repo_file

- name: Add Kubernetes' repository
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/kubernetes.list
    src: "{{ role_path }}/files/kubernetes.list"
  when: repo_file.stat.exists == false

- name: Install kubectl
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - kubectl
