---
- name: Fail if traefik_dashboard_domain is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ traefik_dashboard_domain }}' is not defined"
  when: traefik_dashboard_domain is undefined

- name: install traefik docker app
  ansible.builtin.import_tasks: ../../docker_compose_setup/main.yml
  vars:
    app_name: traefik
    local_docker_path: "{{role_path}}/files/docker/"
