---
- name: Install fontconfig
  become: true
  ansible.builtin.package:
    state: present
    name: fontconfig

- name: Ensure local fonts directory is present
  ansible.builtin.file:
    dest: "$HOME/.local/share/fonts"
    state: directory
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"

# The font files were downloaded from https://www.nerdfonts.com/font-downloads
- name: Copy font files
  ansible.builtin.copy:
    dest: "$HOME/.local/share/fonts"
    src: "{{role_path}}/files/AurulentSansMono"
  register: installed_font

- name: Reset font cache
  ansible.builtin.command: fc-cache -f $HOME/.local/share/fonts
  when: installed_font.changed
