---
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - 9443:9443
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.portainer_data:/data
      - ./admin_password_file:/tmp/admin_password_file:ro
    command: --admin-password-file /tmp/admin_password_file
