---
- name: Download sdm
  ansible.builtin.get_url:
    url: https://app.strongdm.com/releases/cli/linux
    dest: /tmp/sdmcli.zip

- name: Extract sdm
  ansible.builtin.unarchive:
    src: /tmp/sdmcli.zip
    dest: $HOME/.bin

- name: "[IMPORTANT] Command to run"
  ansible.builtin.debug:
    msg: "sudo sdm install"
