---
- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false

- name: Install base packages
  ansible.builtin.apt:
    state: latest
    name:
      - vim
      - curl
      - jq
      - git
      - rsync
      - build-essential
      - screen
      - fzf
      - tmux
      - htop

      - xclip
      - clang
      - make
      - entr
      - net-tools
      - encfs

- name: Enable unattended upgrade
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
  notify: Restart unattended-upgrades

- name: Make sure 50unattended-upgrades file exists
  ansible.builtin.file:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    state: touch
    owner: root
    group: root
    mode: 644

# Untested - This is not recommended because some packages require manual
# action during install. Let's test and see if it's ok.
# A workaround is to set a black list of packages for unattended upgrades
- name: Configure unattended upgrade - regular packages
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    search_string: "${distro_id}:${distro_codename}-updates"
    line: "\t\"${distro_id}:${distro_codename}-updates\";"
  notify: Restart unattended-upgrades

- name: Configure unattended upgrade - remove unused kernel packages
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    search_string: "Unattended-Upgrade::Remove-Unused-Kernel-Packages"
    line: 'Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";'
  notify: Restart unattended-upgrades

- name: Configure unattended upgrade - remove unused dependencies
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    search_string: "Unattended-Upgrade::Remove-Unused-Dependencies"
    line: 'Unattended-Upgrade::Remove-Unused-Dependencies "true";'
  notify: Restart unattended-upgrades
