---
# TODO Merge with roles/server/firewall/tasks/main.yml
# https://docs.ansible.com/ansible/latest/collections/community/general/ufw_module.html

- name: Install ufw
  ansible.builtin.apt:
    state: present
    name:
      - ufw
    update_cache: true

- name: Allow ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
  loop: "{{ open_ports }}"

- name: Allow outgoing
  community.general.ufw:
    direction: outgoing
    default: allow

- name: Deny incoming
  community.general.ufw:
    direction: incoming
    default: deny

- name: Deny routed
  community.general.ufw:
    direction: routed
    default: deny

- name: Enable ufw
  community.general.ufw:
    state: enabled
