---
# IMPORTANT This is a WORK IN PROGRESS
#
# I tried to migrate my i3 setup to sway and encountered some issues
# so this role is not ready at all
#
# Issues:
# - Starting swaywm from the default display manager didn't properly setup the environment
#   variable (like $WAYLAND_DISPLAY or $XDG_CURRENT_DESKTOP which wasn't set to 'sway')
#   required by sway so I had to change the display manager
#     sudo systemctl set-default multi-user
#     # To reset: sudo systemctl set-default graphical
#   And I had to start sway from my .zprofile file with:
#     export XDG_CURRENT_DESKTOP='sway'
#     [ "$(tty)" = "/dev/tty1" ] && exec sway

#
# - Espanso needs a dedicated sway version
# - polybar needs to be migrated to another bar tool
# - flameshot started but couldn't take a screenshot
# - redshift has to be replaced with gammastep
# - i3-fancy-lock has to be replaced with swaylock
# - picom probably doesn't work anymore
# - And probably other stuff I forgot

- name: Install swaywm and other wm packages
  ansible.builtin.apt:
    state: present
    name:
      - sway
      - gammastep
      - swaylock
      # - wofi
      # - flameshot

- name: Add user to video and input group (Required by brightnessctl)
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    groups: video,input
    append: true
