---
- name: Get the profile name
  ansible.builtin.shell: "grep 'Path' ~/.mozilla/firefox/profiles.ini | cut -d '=' -f 2"
  register: profile_name

- name: Add user chrome
  ansible.builtin.copy:
    backup: true
    force: true
    dest: "~/.mozilla/firefox/{{profile_name.stdout}}/chrome/userChrome.css"
    src: "{{role_path}}/files/userChrome.css"
  changed_when: false
