---
- name: Install utilities packages for raspberry
  become: true
  ansible.builtin.apt:
    state: latest
    name:
      - linux-modules-extra-raspi
  register: reboot_required

- name: Unconditionally reboot the machine with all defaults
  ansible.builtin.reboot:
  when: reboot_required.changed
