---
- name: Enable multi architecture for Steam
  ansible.builtin.lineinfile:
    dest: /var/lib/dpkg/arch
    line: "{{item}}"
    create: true
  with_items:
    - amd64
    - i386

- name: Accept Steam Licence Agreement (1/2)
  ansible.builtin.debconf:
    name: steam
    question: steam/question
    value: "I AGREE"
    vtype: select

- name: Accept Steam Licence Agreement (2/2)
  ansible.builtin.debconf:
    name: steam
    question: steam/license
    value: ""
    vtype: note

- name: Install Steam
  ansible.builtin.apt:
    state: present
    name:
      - steam
    update_cache: true
