---
- name: Fail if portainer_ui_domain is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ portainer_ui_domain }}' is not defined"
  when: portainer_ui_domain is undefined

- name: install portainer docker app
  ansible.builtin.import_tasks: ../../docker_compose_setup/main.yml
  vars:
    app_name: portainer
    local_docker_path: "{{role_path}}/files/docker/"
