---
- name: Fail if glance_github_token is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ glance_github_token }}' is not defined"
  when: glance_github_token is undefined

- name: Fail if glance_domain is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ glance_domain }}' is not defined"
  when: glance_domain is undefined

- name: Install glance docker app
  ansible.builtin.import_tasks: ../../docker_compose_setup/main.yml
  vars:
    app_name: glance
    local_docker_path: "{{role_path}}/files/docker/"
