- name: Install zoom deb
  become: true
  apt:
    deb: https://zoom.us/client/latest/zoom_amd64.deb
  register: zoom_install

- name: '[IMPORTANT] A new version of Zoom has been insalled'
  debug:
    msg: 'Restart zoom to finish update'
  when: zoom_install.changed == true
