---
- name: Install zoom deb
  become: true
  ansible.builtin.apt:
    deb: https://zoom.us/client/latest/zoom_amd64.deb
  register: zoom_install

- name: "[IMPORTANT] A new version of Zoom has been insalled"
  ansible.builtin.debug:
    msg: "Restart zoom to finish update"
  when: zoom_install.changed == true
