---
- name: Create local ~/.local/bin/ dir
  ansible.builtin.file:
    state: directory
    path: ~/.local/bin/

- name: Create local ~/.bin/ dir
  ansible.builtin.file:
    state: directory
    path: ~/.bin/

- name: Install utilities packages
  become: true
  ansible.builtin.apt:
    state: latest
    name:
      - blueman
      - redshift-gtk
      - brightnessctl
      - flatpak
      - feh
      - dolphin
      - arandr
      - xdotool
      - yad
      - silversearcher-ag
      - simplescreenrecorder
      - ffmpeg
      - unzip
      - flameshot
      - vlc
      - whois
      - gparted
      - xsel
      - sshpass # Used by ansible for password authenticated ssh
      - nnn
      - clamav
      - btop
      - intel-gpu-tools # Provides `sudo intel_gpu_top` to monitor integrated intel GPU chipset

      - ubuntu-restricted-extras
      - chromium-browser
      - firefox

# Using a community module to use snaps
# if it is not available, it can be installed with the followig command
# ansible-galaxy collection install community.general
# (cf https://docs.ansible.com/ansible/latest/collections/community/general/snap_module.html)
# On Ubuntu 21.10 with ansible 2.12.1 it is already available
- name: Install utilities snaps
  become: true
  community.general.snap:
    name:
      - slack
      - postman
      - spotify

- name: Change key repetition speed
  ansible.builtin.lineinfile:
    name: ~/.profile
    line: "xset r rate 180 50"
    state: present

# Install wezterm via its APT repo
#
- name: Download Wezterm GPG key
  ansible.builtin.get_url:
    url: https://apt.fury.io/wez/gpg.key
    dest: /tmp/wezterm.gpg
    mode: "0644"

- name: Convert GPG key to keyring format
  ansible.builtin.command:
    cmd: "gpg --yes --dearmor -o /usr/share/keyrings/wezterm.gpg /tmp/wezterm.gpg"
  become: true
  args:
    creates: /usr/share/keyrings/wezterm.gpg

- name: Ensure permissions are correct on the keyring
  ansible.builtin.file:
    path: /usr/share/keyrings/wezterm.gpg
    owner: root
    group: root
    mode: "0644"

- name: Add wezterm APT repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/wezterm.gpg] https://apt.fury.io/wez/ * *"
    filename: wezterm
    state: present
  become: true

- name: Install wezterm package
  become: true
  ansible.builtin.apt:
    state: latest
    name:
      - wezterm
