---
- name: Read dconf {{item.key}}
  ansible.builtin.shell: "dconf read \"{{item.key}}\""
  register: dconf
  changed_when: false

- name: Write dconf {{item.key}}
  ansible.builtin.shell: "dconf write \"{{item.key}}\" \"{{item.value}}\""
  changed_when: ( dconf.stdout | string ) != ( item.value | string )
