---
networks:
  reverse-proxy:
    name: reverse-proxy
    driver: bridge

services:
  reverse-proxy:
    image: traefik:v3.2
    container_name: reverse-proxy
    ports:
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
      # For the ssh entrypoint
      - "2222:2222"
      # For mysql entrypoint
      - "3306:3306"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./credentials.txt:/credentials.txt
      - ./traefik.yml:/etc/traefik/traefik.yml
    networks:
      - reverse-proxy
    labels:
      # Use traefik to expose its own dashboard with a basic auth
      - "traefik.enable=true"
      - "traefik.http.routers.traefik_https.rule=Host(`${TRAEFIK_DASHBOARD_DOMAIN}`)"
      - "traefik.http.routers.traefik_https.entrypoints=websecure"
      - "traefik.http.routers.traefik_https.tls=true"
      - "traefik.http.routers.traefik_https.service=api@internal"
      - "traefik.http.routers.traefik_https.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/credentials.txt"
