---
# TODO Handle installing arduino IDE AppImage
# https://support.arduino.cc/hc/en-us/articles/360019833020-Download-and-install-Arduino-IDE

# Arduino cli doesn't have a proper install mechanism other than running their script
# https://arduino.github.io/arduino-cli/1.0/installation/
#
# For now this role only installs the cli if the configuration file doesn't exists
# (Delete the configuration file to update)
#
# I need the CLI to run the arduino language server (and probably to do other things
# in the future)

- name: Check if arduino-cli configuration file exists
  ansible.builtin.stat:
    path: ~/.arduino15/arduino-cli.yaml
  register: arduino_cli_yaml

- name: Install arduino-cli
  ansible.builtin.shell: >
    curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | BINDIR=~/.bin sh
  when: not arduino_cli_yaml.stat.exists

- name: Add arduino-cli configuration file
  ansible.builtin.command: arduino-cli config init
  when: not arduino_cli_yaml.stat.exists
