IMMICH_URL="{{ immich_ml_orchestrator_immich_url }}"
IMMICH_API_KEY="{{ immich_ml_orchestrator_immich_api_key }}"
AWS_ACCESS_KEY_ID="{{ immich_ml_orchestrator_aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ immich_ml_orchestrator_aws_secret_access_key }}"
AWS_REGION="{{ immich_ml_orchestrator_aws_region | default('eu-west-3') }}"
ECS_CLUSTER="{{ immich_ml_orchestrator_ecs_cluster }}"
ECS_SERVICE="{{ immich_ml_orchestrator_ecs_service }}"
ROUTE53_ZONE_ID="{{ immich_ml_orchestrator_route53_zone_id }}"
ML_DNS_NAME="{{ immich_ml_orchestrator_ml_dns_name | default('immich-ml.statox.fr') }}"
STATE_FILE="/home/immich/ml_orchestrator/state/state.json"
IDLE_GRACE_SECONDS="{{ immich_ml_orchestrator_idle_grace_seconds | default(600) }}"
MAX_SCALED_UP_SECONDS="{{ immich_ml_orchestrator_max_scaled_up_seconds | default(7200) }}"
