---
- name: Check if nodejs is installed
  ansible.builtin.command: which node
  register: node_installed
  ignore_errors: true # We rely on the fact that command fails to trigger the install

- name: Install nvm
  ansible.builtin.command: "{{role_path}}/files/install_nvm.sh"
  when: node_installed.failed

- name: Install node stable
  ansible.builtin.shell: ". $HOME/.config/nvm/nvm.sh && nvm install stable"
  when: node_installed.failed
