---
networks:
  reverse-proxy:
    external: true

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    expose:
      - 9443
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.portainer_data:/data
      - ./admin_password_file:/tmp/admin_password_file:ro
    command: --admin-password-file /tmp/admin_password_file
    networks:
      - reverse-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`${PORTAINER_UI_DOMAIN}`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.services.portainer.loadbalancer.server.scheme=https"
      - "traefik.http.services.portainer.loadbalancer.server.port=9443"
