---
- name: Install dev utilities packages
  become: true
  ansible.builtin.apt:
    state: latest
    name:
      - shellcheck
      - ripgrep
      - python3-venv # To be able to install ruff with Mason
