---
- name: Fail if app name is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ app_name }}' is not defined"
  when: app_name is undefined

- name: Fail if docker files path is undefined
  ansible.builtin.fail:
    msg: "Variable '{{ local_docker_path }}' is not defined"
  when: local_docker_path is undefined

- name: Define variables
  ansible.builtin.set_fact:
    # local_docker_path: "{{role_path}}/files/docker/"
    docker_app_home: "{{ ansible_env.HOME }}/.docker-apps/{{ app_name }}"

- name: Ensure docker apps directory exists
  ansible.builtin.file:
    state: directory
    path: "{{ docker_app_home }}"

- name: Copy docker apps directory
  ansible.builtin.copy:
    src: "{{ local_docker_path }}"
    dest: "{{ docker_app_home }}"

- name: Copy templates to remote host
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ docker_app_home }}/{{ item.path | regex_replace('.j2','') }}"
  with_filetree: "{{ local_docker_path }}"
  when:
    - item.state == 'file'
    - item.path | regex_search('.j2$')

# ansible-galaxy collection install community.docker
- name: Tear down existing services
  become: true
  community.docker.docker_compose_v2:
    project_src: "{{ docker_app_home }}"
    files:
      - docker-compose.yml
    state: absent

- name: Create and start services
  become: true
  community.docker.docker_compose_v2:
    # build: always # Need to re-enable when editing Dockerfiles
    project_src: "{{ docker_app_home }}"
    files:
      - docker-compose.yml
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
