---
# The container uses port 53 which creates conflicts with Ubuntu (17.10+)'s default
# caching DNS stub resolver.
# There is a workaround in the doc
# https://github.com/pi-hole/docker-pi-hole/blob/5bae002db39/README.md#installing-on-ubuntu
# https://discourse.pi-hole.net/t/docker-unable-to-bind-to-port-53/45082/14
- name: Disable stub resolver
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: "#?DNSStubListener="
    line: DNSStubListener=no
  become: true
  register: disable_stub

- name: Replace /etc/resolv.conf by a file automatically updated
  ansible.builtin.file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link
  become: true
  register: simlink_conf

- name: Stop systemd-resolved
  ansible.builtin.service:
    name: systemd-resolved
    state: stopped
    enabled: false
  become: true
  when: disable_stub.changed or simlink_conf.changed

- name: install Pihole docker app
  ansible.builtin.import_tasks: ../../../server/docker_compose_setup/main.yml
  vars:
    app_name: pihole
    local_docker_path: "{{role_path}}/files/docker/"
