---
- name: Installing Zsh and git
  ansible.builtin.apt:
    pkg: zsh,git
    state: latest
  register: installation
  become: true

- name: Check if .oh-my-zsh exists
  ansible.builtin.stat:
    path: ~/.oh-my-zsh
  register: stat_oh_my_zsh_result

- name: Cloning  oh-my-zsh
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: ~/.oh-my-zsh
  when: not stat_oh_my_zsh_result.stat.exists

- name: Cloning zsh-syntax-highlighting
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting
    dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
- name: "[IMPORTANT] Change user shell if needed"
  ansible.builtin.debug:
    msg: "chsh -s $(which zsh)"
